body {
  padding: 24px;
  background-color: #262f40;
  font-family: "Open Sans", sans-serif;
  color: #f2f2f2;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

img {
  max-width: 100%;
}

.cta {
  display: none;
  margin: 0 0 32px 0;
  padding: 16px 0;
  text-align: center;
  background-color: #535d73;
  color: #f2f2f2;
}

header {
  position: relative;
  padding: 24px;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 2px #535d73;
  color: #262f40;
}
header .columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .branding img {
  width: 76px;
}
header .branding span {
  display: none;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .links {
  display: none;
}
header .links a {
  display: block;
  padding: 8px 16px;
  background-color: #535d73;
  color: #f2f2f2;
  text-decoration: none;
}
header .links .active,
header .links a:hover {
  background-color: #262f40;
}
@media (max-width: 999px) {
  header .links.open {
    position: absolute;
    left: 0;
    right: 25%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }
  header .links.open li {
    flex: 1;
  }
  header .links.open li a {
    display: flex;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
  }
}
header .social {
  display: flex;
}
header .social li:not(:last-child) {
  margin: 0 16px 0 0;
}
header .social img {
  width: 28px;
}
header .toggle {
  margin: 0 0 0 24px;
}
header .toggle .none {
  display: none;
}
header .current-date {
  margin: 16px 0 0 0;
  padding: 8px 0;
  text-align: center;
  background-color: #424a59;
  color: #f2f2f2;
}

main {
  margin: 48px 0;
}

main .grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 0;
  grid-auto-flow: row;
  grid-template-areas:
    "content"
    "event"
    "weather"
    "join"
    "news"
    "spotlight";
  color: #f2f2f2;
}
main .grid > div {
  padding: 16px;
  background-color: #535d73;
}
main .event {
  grid-area: event;
}
main .weather {
  grid-area: weather;
}
main .join {
  grid-area: join;
}
main .content {
  position: relative;
  padding: 0 !important;
  grid-area: content;
}
main .news {
  grid-area: news;
}
main .spotlight {
  grid-area: spotlight;
}

main .event p {
  padding: 16px;
  background-color: #f2f2f2;
  color: #262f40;
}

main .weather .temperature-widget {
  max-width: 200px;
  text-align: center;
}
main .weather .temperature-widget img {
  width: 64px;
}
main .weather .temperature-widget .temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .weather .temperature-widget .temperature .value {
  margin: 0 0 0 12px;
  font-size: 1.5rem;
}
main .weather .temperature-widget .summary {
  margin: 0 0 12px 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #fff;
}
main .weather .temperature-widget dl {
  display: flex;
  flex-wrap: wrap;
}
main .weather .temperature-widget dt {
  margin: 0 5px 0 0;
  flex-basis: 120px;
  text-align: right;
}
main .weather .temperature-widget dd {
  margin: 0;
}

main .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
main .content h3 {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  margin: 0;
  padding: 8px;
  background-color: #262f40;
  color: #f2f2f2;
}
main .content .button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  padding: 12px 36px;
  text-align: center;
  background-color: #900;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}
main .join .button {
  text-align: center;
}
main .join .button a {
  display: inline-block;
  padding: 12px 36px;
  background-color: #900;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}
main .news ul {
  padding: 0 0 0 20px;
}
main .news li:not(:last-child) {
  margin: 0 0 16px 0;
}

main .spotlight section {
  padding: 16px;
  background-color: #f2f2f2;
  color: #262f40;
}
main .spotlight section:not(:last-child) {
  margin: 0 0 24px 0;
}
main .spotlight hr {
  margin: 16px 0;
}
main .spotlight .links {
  text-align: center;
}
main .spotlight address {
  margin: 8px 0 0 0;
  text-align: center;
}

main .discover {
  padding: 16px;
  background-color: #535d73;
  color: #f2f2f2;
}
main .discover h1 {
  text-align: center;
}
main .discover table {
  margin: 0 auto 3rem auto;
  border-collapse: collapse;
}
main .discover table,
main .discover th,
main .discover td {
  border: 1px solid #424a59;
}
main .discover table th {
  text-align: left;
}
main .discover table th,
main .discover table td {
  padding: 1rem;
  color: #262f40;
}
main .discover table tr:nth-child(odd) {
  background-color: #e2e2e2;
}
main .discover table tr:nth-child(even) {
  background-color: #f2f2f2;
}
main .discover picture {
  display: block;
  margin: 0 auto 4rem auto;
  max-width: 900px;
  text-align: center;
}
main .discover picture p {
  padding: 0.5rem 0;
  background-color: #f2f2f2;
  color: #262f40;
}

footer {
  padding: 24px;
  background-color: #424a59;
  border: 2px solid #979ca6;
  color: #f2f2f2;
}
footer a {
  display: inline-block;
  padding: 3px;
  text-decoration: none;
}
footer hr {
  margin: 24px 0;
  height: 1px;
  background-color: #979ca6;
  border: 0;
}
footer .columns {
  text-align: center;
}
footer .branding {
  margin: 0 0 24px 0;
}
footer .branding img {
  filter: brightness(0) invert(1);
}
footer .contact a:not(:last-child) {
  margin: 0 0 10px 0;
}
footer address {
  margin: 12px 0 0 0;
  font-style: normal;
}
footer .credits {
  text-align: center;
}
