@media (min-width: 1000px) {
  header .branding span {
    font-size: 1.25rem;
  }
  header .links {
    display: flex;
    margin: 0 48px 0 0;
  }
  header .links li:not(:last-child) {
    margin: 0 16px 0 0;
  }
  header .toggle {
    display: none;
  }

  main .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "event content spotlight"
      "weather content spotlight"
      "join news spotlight";
  }

  main .listings {
    padding: 2rem;
  }

  main .listings-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  main .listings-grid section {
    margin: 1.5rem;
    padding: 1.5rem;
  }

  footer .contact {
    flex: 0.25;
  }
}
